{% extends 'base.html' %}

{% load i18n %}

{% block body %}

<!--
<div class="langmenu">
    [ <a href="/documentation/nl/">Nederlands</a> ] [ English ]
</div>
-->

{% trans "If you join the #dutchnano channel on Freenode, you'll see <b>Phennyfyxata</b> among the list of chatters. She is a chatbot - more specifically a warbot. This means that she can signal the start and end of a wordwar, as well as keep track of your score. She can be controlled with a set of simple commands that you just need to say in the chatroom.<br />" %}
<div class="important">{% trans "Notice that most of the commands start with a dot!" %}</div>

<ul>
    <li /><span class="command">.war [starttime] [endtime]</span><br />
    {% trans "She'll tell you when to start and stop writing at the times you specify. You'll need to use a 24-hour format, like so:" %}<br />
    .war 14:20 14:40
    <li /><span class="command">.plannedwars</span><br />
    {% trans "Use this command to make Phenny give you a list of which wars still need to start, when they will start and how long they will be." %}
    <li /><span class="command">.activewars</span><br />
    {% trans "Use this command to make Phenny give you a list of which wars are currently active, when they will end and how long they are." %}
    <li /><span class="command">.war busy [endtime]</span><br />
    {% trans "If a war is already in progress and you just want her to end it, this is the way to let her know. Instead of a starttime, you use the word busy." %}
    <li /><span class="command">.score [warnr] [score]</span><br />
    {% trans "Register your score with this command. Don't worry too much about the war number - she will tell you what it is when the war starts and when it ends." %}
    <li /><span class="command">.participate [warnr]</span><br />
    {% trans "If you want a personal notification 10 seconds before the war starts, and another one the moment the war ends, use this command. Phenny will mention your nick in the chatroom. Many chat clients will give you a signal when that happens!" %}<br />
    {% trans "Warnr is the number of the war. Phenny announced this." %}
    <li /><span class="command">.withdraw [warnr]</span><br />
    {% trans "If you change your mind and don't want to participate after all, you can use this command to stop Phenny from highlighting you." %}
    <li /><span class="command">.help</span><br />
    {% trans "If you need some help, there are a few topics she knows about. If you have a request for something else she should know about, don't hesitate to ask venefyxatu!" %}
    <ul>
        <li /><span class="command">.help war</span><br />
        {% trans "Brief explanation about how to use Phenny to time a war." %}
        <li /><span class="command">.help smileys</span><br />
        {% trans "A few of the more commonly used smileys" %}
        <li /><span class="command">.help nick</span><br />
        {% trans "How to change your nickname" %}
        <li /><span class="command">.help motivation</span><br />
        {% trans "Not feeling very motivated? Let Phenny help you!" %}
    </ul>
    <li /><span class="command">geef me een genre</span><br />
    {% trans "If she sees you saying this, Phenny will blurt out a random genre for you to write in." %}
    <li /><span class="command">.noms</span>.noms</span> or <span class="command">.eten</span><br />
    {% trans "Hungry? Phenny loves making sandwiches! She loves it a lot even. In fact, when she's in the kitchen, she can be <strong>very</strong> enthusiastic. You have been warned." %}
    <li /><span class="command">.plannedwars</span><br />
    {% trans "Phenny will give you an overview of which wars are planned." %}
    <li /><span class="command">.activewars</span><br />
    {% trans "You'll get a list of the wars which are currently on-going. Useful if you'd like to join in!" %}
</ul>

{% endblock %}
