{% extends 'base.html' %}

{% block body %}

<div class="langmenu">
    [ Nederlands ] [ <a href="/documentation/">English</a> ]
</div>

Als je naar het #dutchnano kanaal op Freenode gaat zal je daar <b>Phennyfyxata</b> zien tussen de chatters. Dit is een chatbot - een warbot om specifiek te zijn. Dat houdt in dat ze zowel het start-en stopsein kan geven voor een wordwar als je score bijhouden. Je kan haar aansturen met enkele eenvoudige commando's die je gewoon in de chat moet zetten.<br />
<div class="important">Merk op dat de meeste commando's met een punt beginnen!</div>

<ul>
    <li /><span class="command">.war [begintijd] [eindtijd]</span><br />
    Phenny zal het start-en stopsein geven op de tijden die je specifieert. Je moet het 24-uur formaat gebruiken, zo:<br />
    .war 14:20 14:40
    <li /><span class="command">.war busy [eindtijd]</span><br />
    Als er al een war bezig is en je wil gewoon het stopsein krijgen kan je dat op deze manier aangeven. In plaats van een starttijd gebruik je dan gewoon het woord busy.
    <li /><span class="command">.score [warnr] [score]</span><br />
    Je kan je score registreren met dit commando. Maak je niet teveel zorgen over het nummer van de war - Phenny zal dat meedelen op het moment dat een oorlog start en stopt.
    <li /><span class="command">.participate [warnr]</span><br />
    Als je persoonlijk verwittigd wil worden 10 seconden voordat de war begint, en nog eens op het moment dat de war eindigt, gebruik je dit commando. Phenny zal dan je nick even vermelden in de chat. Veel chat clients geven je een geluidssignaal wanneer dat gebeurt!<br />
    Warnr is het nummer van de war. Phenny heeft dit aangekondigd.
    <li /><span class="command">.withdraw [warnr]</span><br />Als je je bedenkt en toch niet meer wil deelnemen kan je met dit commando ervoor zorgen dat je niet gehighlight zal worden.
    <li /><span class="command">.help</span><br />
    Als je wat hulp nodig hebt kan Phenny wel helpen met een paar onderwerpen. Als je een idee hebt voor iets waar ze nog mee kan helpen, laat het dan zeker even weten aan venefyxatu!
    <ul>
        <li /><span class="command">.help war</span><br />
        Een korte uitleg over hoe je Phenny gebruikt om een war te timen.
        <li /><span class="command">.help smileys</span><br />
        Enkele van de vaak voorkomende smileys
        <li /><span class="command">.help nick</span><br />
        Hoe je nickname te veranderen
        <li /><span class="command">.help motivation</span><br />
        Niet erg gemotiveerd? Laat Phenny helpen!
    </ul>
    <li /><span class="command">geef me een genre</span><br />
    Wanneer ze je dit ziet zeggen zal Phenny een willekeurig genre uitroepen dat je kan gebruiken.
    <li /><span class="command">.noms</span>.noms</span> of <span class="command">.eten</span><br />
    Honger? Phenny maakt graag sandwiches. Heel graag. Als ze in de keuken staat is ze soms wel <strong>heel</strong> enthousiast. Je bent gewaarschuwd.
    <li /><span class="command">.plannedwars</span><br />
    Phenny zal je even een lijstje geven met welke wars nog gepland zijn.
    <li /><span class="command">.activewars</span><br />
    Hiermee krijg je een lijstje met welke wars er op dit moment bezig zijn. Handig als je wil inpikken!
</ul>
{% endblock %}
