<!DOCTYPE html>

<html>
    <head>
        <title>Whoopseedaisy - couldn't find that</title>
        <link rel="stylesheet" type="text/css" href="/phenny.css" />
    </head>
    <body><h1>404 - procrastination in progress</h1>
Sorry, I couldn't find that.<br />
If you clicked a link to get here, please contact me via <a href="http://blog.venefyxatu.be/contact">this form</a> or ping venefyxatu in #dutchnano on <a href="http://www.freenode.net">Freenode</a>.<br />
Otherwise please return to the <a href="http://phenny.venefyxatu.be/">start page</a>.
</body>
</html>
