<!DOCTYPE html>

{% load i18n %}

<html>
    <head>
        <title>Phennyfyxata</title>
        <link rel="stylesheet" type="text/css" href="/phenny.css" />
        {% block extra_head %}
        {% endblock %}
    </head>

    <body>
        <div class="menu">
            <span class="menuitem"><a class="menu" href="/wars/">Wars</a></span>
            <span class="menuitem"><a class="menu" href="/writers/">{% trans "Writers overview" %}</a></span>
            <span class="menuitem"><a class="menu" href="/documentation/">{% trans "Documentation" %}</a></span>
            <!--<span class="menuitem-right"><a class="menu" href="/language/">{% trans "Language" %}</a></span>-->
        </div>

        <p />
        <div class="info">

            {% block body %}
            {% endblock %}
            <div class="filler" />
            <div class="footer">
                {% blocktrans %}
                This application was created by <a target="_blank" href="http://www.nanowrimo.org/eng/user/133582">Venefyxatu</a> and is neither affiliated with nor endorsed by the Office of Letters and Light. <br />
                In case of issues, please contact me via <a href="http://blog.venefyxatu.be/contact">this form</a> or ping venefyxatu in #dutchnano on <a target="_blank" href="http://www.freenode.net">Freenode</a> <br />
                Source code is available on <a target="_blank" href="http://github.com/venefyxatu/phennyfyxata">GitHub</a>.
                {% endblocktrans %}
            </div>

        </div>

    </body>
</html>
